/* Color style */
$lightblue: rgb(218, 233, 254);
$blacktext: rgb(63, 54, 59);
$darkgrey: rgb(48, 48, 48);
$blue: rgb(0, 141, 255);
$blueSection: rgb(2, 130, 249);
$greytext: rgb(121, 120, 117);
$maingrey: rgb(28, 28, 28);